[submodule "modules/MediCluster"]
	path = modules/MediCluster
	url = git@github.com:YassienTawfikk/MediCluster.git
[submodule "modules/PredictiLoan"]
	path = modules/PredictiLoan
	url = git@github.com:YassienTawfikk/PredictiLoan.git
[submodule "modules/MusicSpectroNet"]
	path = modules/MusicSpectroNet
	url = git@github.com:YassienTawfikk/MusicSpectroNet.git
[submodule "modules/SmartRetailRegressor"]
	path = modules/SmartRetailRegressor
	url = git@github.com:YassienTawfikk/SmartRetailRegressor.git
[submodule "modules/MovieMatch100K"]
	path = modules/MovieMatch100K
	url = git@github.com:YassienTawfikk/MovieMatch100K.git
[submodule "modules/DriveSafe-Sign-Detection"]
	path = modules/DriveSafe-Sign-Detection
	url = git@github.com:YassienTawfikk/DriveSafe-Sign-Detection.git
